In [1]:
import pandas as pd
import numpy
import pandas as pd
from bs4 import BeautifulSoup
import requests
from urllib.request import Request, urlopen

Dataframe of draft combine data 2000 - 2022, exported from Pro Football Reference (PFR) and uploaded to my github

In [2]:
df = pd.DataFrame()
for year in list(range(2000, 2023)):
  df2 = pd.read_csv("https://raw.githubusercontent.com/Zaanis/Cogs108-Project/main/{}.csv".format(year))
  df2['Drafted (tm/rnd/yr)'] = df2['Drafted (tm/rnd/yr)'].str.split('/').str[2].str.split('th').str[0].str.split('nd').str[0].str.split('st').str[0].str.split('rd').str[0].fillna(0).astype(int)
  df = pd.concat([df, df2])

In [3]:
df = df.drop(columns =['College'])

In [4]:
df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,John Abraham,OLB,South Carolina,4-Jun,252.0,4.55,NaN,NaN,NaN,NaN,NaN,13
1,Shaun Alexander,RB,Alabama,Jun-00,218.0,4.58,NaN,NaN,NaN,NaN,NaN,19
2,Darnell Alford,OT,Boston Col.,4-Jun,334.0,5.56,25.0,23.0,94.0,8.48,4.98,188
3,Kyle Allamon,TE,Texas Tech,2-Jun,253.0,4.97,29.0,NaN,104.0,7.29,4.49,0
4,Rashard Anderson,CB,Jackson State,2-Jun,206.0,4.55,34.0,NaN,123.0,7.18,4.15,23
...,...,...,...,...,...,...,...,...,...,...,...,...
319,Devonte Wyatt,DT,Georgia,3-Jun,304.0,4.77,29.0,NaN,111.0,NaN,NaN,28
320,Jalen Wydermyer,TE,Texas A&M,4-Jun,255.0,NaN,NaN,NaN,NaN,NaN,NaN,0
321,Cade York,K,LSU,1-Jun,206.0,NaN,NaN,12.0,NaN,NaN,NaN,124
322,Nick Zakelj,OT,Fordham,6-Jun,316.0,5.13,28.5,27.0,110.0,7.75,4.71,187
323,Bailey Zappe,QB,Western Kentucky,1-Jun,215.0,4.88,30.0,NaN,109.0,7.19,4.40,137

In [5]:
players = list(df['Player'])

In [6]:
'Antoine Winfield Jr.' in players

True

# Webscrap function

In [7]:
'T.J. Watt'.count('.')

2

In [8]:
def nfl_scrap(exp, dnp, names, year):
  for name in names:
    c = -1
    if 'Jr.' in name:
      name2 = name.replace('.', '')
      splited = name2.split(' ')
      player = '-'.join(splited)
      player = player.replace('\'', '-')
    elif '.' in name:
      name2 = name.replace('.', '-', name.count('.') - 1)
      name2 = name2.replace('.', '')
      splited = name2.split(' ')
      player = '-'.join(splited)
      player = player.replace('\'', '-')
    else:
      splited = name.split(' ')
      player = '-'.join(splited)
      player = player.replace('\'', '-')
    url = "https://www.nfl.com/players/{}/".format(player)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    lists = soup.find_all('ul', class_ = 'd3-o-list nfl-c-player-info__career-data')
    for l in lists:
      c = l.find('div', class_ = 'nfl-c-player-info__value').text
    if c == -1 or int(c) > 2023 - year:
      dnp.append(name)
      exp.append(-1)
    else:
      exp.append(c)

## 2000

In [9]:
players.index('Brian Young')

320

In [10]:
players[0:321][-1]

'Brian Young'

In [11]:
exp0 = []
dnp0 = []
nfl_scrap(exp0, dnp0, players[0:321], 2000)

## 2001

In [12]:
players.index('Paul Zukauskas')

641

In [13]:
players[321:642][-1]

'Paul Zukauskas'

In [14]:
exp1 = []
dnp1 = []
nfl_scrap(exp1, dnp1, players[321:642], 2001)

## 2002

In [15]:
players.index('Greg Zolman')

961

In [16]:
players[642:962][-1]

'Greg Zolman'

In [17]:
exp2 = []
dnp2 = []
nfl_scrap(exp2, dnp2, players[642:962], 2002)

## 2003

In [18]:
players.index('Doug Zeigler')

1280

In [19]:
players[962:1281][-1]

'Doug Zeigler'

In [20]:
exp3 = []
dnp3 = []
nfl_scrap(exp3, dnp3, players[962:1281], 2003)

## 2004

In [21]:
players.index('Kevin Youngblood')

1615

In [22]:
players[1281:1616][-1]

'Kevin Youngblood'

In [23]:
exp4 = []
dnp4 = []
nfl_scrap(exp4, dnp4, players[1281:1616], 2004)

## 2005

In [24]:
players.index('Scott Young')

1946

In [25]:
players[1616:1947][-1]

'Scott Young'

In [26]:
exp5 = []
dnp5 = []
nfl_scrap(exp5, dnp5, players[1616:1947], 2005)

## 2006

In [27]:
players.index('Alan Zemaitis')

2274

In [28]:
players[1947:2275][-1]

'Alan Zemaitis'

In [29]:
exp6 = []
dnp6 = []
nfl_scrap(exp6, dnp6, players[1947:2275], 2006)

## 2007

In [30]:
players.index('Jared Zabransky')

2600

In [31]:
players[2275:2601][-1]

'Jared Zabransky'

In [32]:
exp7 = []
dnp7 = []
nfl_scrap(exp7, dnp7, players[2275:2601], 2007)

## 2008

In [33]:
players.index('Jeremy Zuttah')

2930

In [34]:
players[2601:2931][-1]

'Jeremy Zuttah'

In [35]:
exp8 = []
dnp8 = []
nfl_scrap(exp8, dnp8, players[2601:2931], 2008)

## 2009

In [40]:
players.index('Jarius Wynn')

3257

In [41]:
players[2931:3258][-1]

'Jarius Wynn'

In [42]:
exp9 = []
dnp9 = []
nfl_scrap(exp9, dnp9, players[2931:3258], 2009)

## 2010

In [43]:
players.index('Willie Young')

3583

In [44]:
players[3258:3584][-1]

'Willie Young'

In [45]:
exp10 = []
dnp10 = []
nfl_scrap(exp10, dnp10, players[3258:3584], 2010)

## 2011

In [46]:
players.index('Lee Ziemba')

3912

In [47]:
players[3584:3913][-1]

'Lee Ziemba'

In [48]:
exp11 = []
dnp11 = []
nfl_scrap(exp11, dnp11,players[3584:3913] , 2011)

## 2012

In [49]:
players.index('Markus Zusevics')

4236

In [50]:
players[3913:4237][-1]

'Markus Zusevics'

In [51]:
exp12 = []
dnp12 = []
nfl_scrap(exp12, dnp12,players[3913:4237] , 2012)

## 2013

In [52]:
players.index('Blidi Wreh-Wilson')

4568

In [53]:
players[4237:4569][-1]

'Blidi Wreh-Wilson'

In [54]:
exp13 = []
dnp13 = []
nfl_scrap(exp13, dnp13,players[4237:4569] , 2013)

## 2014

In [55]:
players.index('Jordan Zumwalt')

4901

In [56]:
players[4569:4902][-1]

'Jordan Zumwalt'

In [57]:
exp14 = []
dnp14 = []
nfl_scrap(exp14, dnp14,players[4569:4902], 2014)

## 2015

In [58]:
players.index('Zach Zenner')

5223

In [59]:
players[4902:5224][-1]

'Zach Zenner'

In [60]:
exp15 = []
dnp15 = []
nfl_scrap(exp15, dnp15,players[4902:5224], 2015)

## 2016

In [61]:
players.index('Anthony Zettel')

5555

In [62]:
players[5224:5556][-1]

'Anthony Zettel'

In [63]:
exp16 = []
dnp16 = []
nfl_scrap(exp16, dnp16,players[5224:5556], 2016)

## 2017

In [64]:
players.index('Chris Wormley')

5882

In [65]:
players[5556:5883][-1]

'Chris Wormley'

In [66]:
exp17 = []
dnp17 = []
nfl_scrap(exp17, dnp17,players[5556:5883], 2017)

## 2018

In [67]:
players.index('Trevon Young')

6218

In [68]:
players[5883:6219][-1]

'Trevon Young'

In [69]:
exp18 = []
dnp18 = []
nfl_scrap(exp18, dnp18,players[5883:6219], 2018)

## 2019

In [70]:
players.index('Rock Ya-Sin')

6554

In [71]:
players[6219:6555][-1]

'Rock Ya-Sin'

In [72]:
exp19 = []
dnp19 = []
nfl_scrap(exp19, dnp19,players[6219:6555], 2019)

## 2020

In [73]:
players.index('Jabari Zuniga')

6891

In [74]:
players[6555:6892][-1]

'Jabari Zuniga'

In [75]:
exp20 = []
dnp20 = []
nfl_scrap(exp20, dnp20,players[6555:6892], 2020)

## 2021

In [76]:
players.index('Landon Young')

7355

In [77]:
players[6892:7356][-1]

'Landon Young'

In [78]:
exp21 = []
dnp21 = []
nfl_scrap(exp21, dnp21,players[6892:7356], 2021)

## 2022

In [79]:
players.index('Bailey Zappe')

7679

In [80]:
players[7356:7680][-1]

'Bailey Zappe'

In [81]:
exp22 = []
dnp22 = []
nfl_scrap(exp22, dnp22,players[7356:7680], 2022)

In [96]:
exp = []
for i in range(0, 23):
    exp += locals()[f"exp{i}"]

In [97]:
len(exp)

7680

In [98]:
dnp = []
for i in range(0, 23):
    dnp += locals()[f"dnp{i}"]

In [102]:
'J.J. Watt' in dnp, 'J.J. Watt' in players

(False, True)

Change height to float (exporting from PFR to excel changed it to date format for some reason)

In [82]:
def height(h):
  if type(h) == float:
    return h
  splitted = h.split('-')
  num = 0
  if 'Jun' in splitted or 'May' in splitted:
    if 'Jun' in splitted:
      num += 12 * 6
      splitted.remove('Jun')
    elif 'May' in splitted:
      num += 12 *5
      splitted.remove('May')
  num += int(splitted[0])
  return num

In [83]:
df['Ht'] = df['Ht'].apply(height)

Note: Some player name with . or ' or jr in their name might have different website format, will try my best to go through list of DNP and update it in the exported excel sheet

In [103]:
df['Experience'] = exp

In [104]:
df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Experience
0,John Abraham,OLB,South Carolina,76.0,252.0,4.55,NaN,NaN,NaN,NaN,NaN,13,15
1,Shaun Alexander,RB,Alabama,72.0,218.0,4.58,NaN,NaN,NaN,NaN,NaN,19,9
2,Darnell Alford,OT,Boston Col.,76.0,334.0,5.56,25.0,23.0,94.0,8.48,4.98,188,4
3,Kyle Allamon,TE,Texas Tech,74.0,253.0,4.97,29.0,NaN,104.0,7.29,4.49,0,-1
4,Rashard Anderson,CB,Jackson State,74.0,206.0,4.55,34.0,NaN,123.0,7.18,4.15,23,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,Devonte Wyatt,DT,Georgia,75.0,304.0,4.77,29.0,NaN,111.0,NaN,NaN,28,0
320,Jalen Wydermyer,TE,Texas A&M,76.0,255.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0
321,Cade York,K,LSU,73.0,206.0,NaN,NaN,12.0,NaN,NaN,NaN,124,0
322,Nick Zakelj,OT,Fordham,78.0,316.0,5.13,28.5,27.0,110.0,7.75,4.71,187,0
323,Bailey Zappe,QB,Western Kentucky,73.0,215.0,4.88,30.0,NaN,109.0,7.19,4.40,137,0

In [105]:
df.dropna()

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Experience
2,Darnell Alford,OT,Boston Col.,76.0,334.0,5.56,25.0,23.0,94.0,8.48,4.98,188,4
7,Corey Atkins,OLB,South Carolina,72.0,237.0,4.72,31.0,21.0,112.0,7.96,4.39,0,0
9,Reggie Austin,CB,Wake Forest,69.0,175.0,4.44,35.0,17.0,119.0,7.03,4.14,125,2
11,Mark Baniewicz,OT,Syracuse,78.0,312.0,5.34,28.0,20.0,96.0,7.72,4.73,247,2
12,Rashidi Barnes,S,Colorado,72.0,208.0,4.62,35.0,10.0,114.0,6.92,4.32,225,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Cole Strange,OG,Tennessee-Chattanooga,77.0,307.0,5.03,28.0,31.0,120.0,7.44,4.50,29,0
271,Zach Thomas,OG,San Diego St.,77.0,308.0,4.96,22.5,21.0,107.0,7.40,4.65,0,-1
281,Cole Turner,TE,Nevada,78.0,246.0,4.76,27.0,17.0,120.0,7.06,4.41,149,0
286,Cordell Volson,OG,North Dakota St.,78.0,315.0,5.27,25.0,25.0,104.0,8.31,4.93,136,0
322,Nick Zakelj,OT,Fordham,78.0,316.0,5.13,28.5,27.0,110.0,7.75,4.71,187,0

In [107]:
df.to_csv('updated.csv', index = False)

In [106]:
df2 = df.dropna()
x = list(df2['Experience'])
x.count('0') + x.count(-1)

789